{%extends 'base.html'%}
{%load browse_tags%}

{%block content%}
<div class="card-panel teal darken-2">
	<h1 class="center-align white-text">Browse Daily Spaces</h1>
</div>
<div class="row">
	<div class="col s5 offset-s1 card-panel blue-grey lighten-4" style="display:flex;flex-direction:column;align-items:center;padding-bottom:2em;height:21rem;">
		<p class="flow-text">Full Map</p>
		<img class="materialboxed" width="200px" src="/images/flea-map.png">
	</div>
	<div class="col s5 card-panel teal lighten-1" style="height:21rem;">
		<form method="GET" action= "{% url 'reserve:browse' %}" style="margin:1rem;">
		  <div class="form-group">
		    <input class="datepicker" name="date_picker" id="date_picker" type="date" placeholder="Please choose a date">
		  </div>
		  <button class="btn btn-flat" type="submit" >Search</button>
		</form>
	</div>
</div>
<div class="row">
	{%if error%}
	<p class="flow-text center-align">{{error}}</p>
	{%else%}
	{%if date%}
	<p class="flow-text center-align">Showing Results for '{{date}}'</p>
	<div class="col s12 card-panel teal">
		<ul class="collapsible popout" data-collapsible="accordion">
			{%for space_type in space_types%}
			<li>
				<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date space_type.pk%}</span>{{space_type.label}}</div>
				<div class="collapsible-body collection teal lighten-4">
					{%for space in spaces%}
						{%if space.space_type.pk == space_type.pk%}
			        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
						{%endif%}
			        {%endfor%}
		      	</div>
		    </li>
		    {%endfor%}
		</ul>
    </div>
    {%else%}
    <div class="card-panel teal lighten-4">
    	<p class="flow-text center-align">Select a date to search!</p>
    </div>
    {%endif%}
	{%endif%}
</div>
{%endblock%}