{%extends 'base.html'%}
{%load browse_tags%}

{%block content%}
<h1 class="center-align">Browse Daily Spaces</h1>
<div class="row">
	<div class="col s5 offset-s1 card-panel blue-grey lighten-4" style="display:flex;flex-direction:column;align-items:center;padding-bottom:2em;">
		<p class="flow-text">Full Map</p>
		<img class="materialboxed" width="200px" src="/images/flea-map.png">
	</div>
	<div class="col s5">
		<form method="GET" action= "{% url 'reserve:browse' %}">
		  <div class="form-group">
		    <input class="datepicker" name="date_picker" id="date_picker" type="date" placeholder="Please choose a date">
		  </div>
		  <button class="btn btn-flat" type="submit" >Search</button>
		</form>
	</div>
</div>
<div class="row">
	{%if error%}
	<p class="flow-text center-align">{{error}}</p>
	{%else%}
	{%if date%}
	<p class="flow-text center-align">Showing Results for '{{date}}'</p>
	<div class="col s12 card-panel teal">
		<ul class="collapsible popout" data-collapsible="accordion">
			<li>
			<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date 1%}</span>Barn 9</div>
			<div class="collapsible-body collection teal lighten-4">
				{%for space in spaces%}
					{%if space.space_type.pk == 1%}
		        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
					{%endif%}
		        {%endfor%}
	      	</div>
	      	</li>
	      	<li>
	      		<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date 2%}</span>Barn 11</div>
	      		<div class="collapsible-body collection teal lighten-4">
					{%for space in spaces%}
						{%if space.space_type.pk == 2%}
			        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
						{%endif%}
			        {%endfor%}
		      	</div>
	      	</li>
	      	<li>
	      		<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date 3%}</span>Barn 12</div>
	      		<div class="collapsible-body collection teal lighten-4">
					{%for space in spaces%}
						{%if space.space_type.pk == 3%}
			        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
						{%endif%}
					{%endfor%}
      			</div>
	      	</li>
	      	<li>
	      		<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date 4%}</span>Barn 14</div>
	      		<div class="collapsible-body collection teal lighten-4">
					{%for space in spaces%}
						{%if space.space_type.pk == 4%}
			        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
						{%endif%}
			        {%endfor%}
		      	</div>
	      	</li>
	      	<li>
	      		<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date 5%}</span>Barn 16</div>
	      		<div class="collapsible-body collection teal lighten-4">
					{%for space in spaces%}
						{%if space.space_type.pk == 5%}
			        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
						{%endif%}
			        {%endfor%}
		      	</div>
	      	</li>
	      	<li>
	      		<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date 6%}</span>Outside Spots</div>
	      		<div class="collapsible-body collection teal lighten-4">
					{%for space in spaces%}
						{%if space.space_type.pk == 6%}
			        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
						{%endif%}
			        {%endfor%}
		      	</div>
	      	</li>
	      	<li>
	      		<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date 7%}</span>Fence Spots</div>
	      		<div class="collection collapsible-body teal lighten-4">
					{%for space in spaces%}
						{%if space.space_type.pk == 7%}
			        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
						{%endif%}
			        {%endfor%}
		      	</div>
	      	</li>
	      	<li>
	      		<div class="collapsible-header flow-text center-align"><span class="new badge cyan darken-2" data-badge-caption="Open">{%get_open_count date 8%}</span>Barn 3</div>
	      		<div class="collection collapsible-body teal lighten-4">
					{%for space in spaces%}
						{%if space.space_type.pk == 8%}
			        	<a href="{% url 'reserve:space' space.id date %}" class="collection-item">{{space.title}} is {{space.status}}</a>
						{%endif%}
			        {%endfor%}
		      	</div>
	      	</li>
		</ul>
    </div>
    {%else%}
    <div class="card-panel teal lighten-4">
    	<p class="flow-text center-align">Select a date to search!</p>
    </div>
    {%endif%}
	{%endif%}
</div>
{%endblock%}