<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper teal lighten-2">
  <div class="container">
    <a href="/" class="brand-logo">
      BCFM
      {%if user.is_staff%}
      - Admin
      {%endif%}
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
    {%if user.is_authenticated%}
      <li><a href="{% url 'reserve:browse' %}">Spaces</a></li>
      <li><a href="{% url 'reserve:buildings' %}">Buildings</a></li>
      {%if user.is_staff%}
      <li><a href="{% url 'reserve:browse' %}">Reporting</a></li>      
      <li><a href="{% url 'reserve:browse' %}">Staff</a></li>          
      {%else%}
      <li><a href="{% url 'reserve:reservation' request.user.id %}">Reservations</a></li>
      {%endif%}
      <li><a href="{% url 'reserve:rules' %}">Rules</a></li>
      <li><a href="{% url 'reserve:my_account' request.user.id %}"><i class="medium material-icons">perm_identity</i></a></li>
      <li><a href="{% url 'reserve:logout' %}">Logout</a></li>
    {%else%}
      <li><a href="{% url 'reserve:login'  %}">Login</a></li>
      <li><a href="{% url 'reserve:register' %}">Register</a></li>
      <li><a href="{% url 'reserve:rules' %}">Rules</a></li>
      <li><a href="{% url 'reserve:browse' %}">Spaces</a></li>
      <li><a href="{% url 'reserve:buildings' %}">Buildings</a></li>
    {%endif%}
    </ul>
  </div>
    <ul class="side-nav" id="mobile-demo">
    {%if user.is_authenticated%}
      <li><a href="mobile.html">Browse</a></li>
      <li><a href="collapsible.html">My Account</a></li>
      <li><a href="mobile.html">My Reservations</a></li>
      <li><a href="sass.html">Logout</a></li>
    {%else%}
      <li><a href="sass.html">Login</a></li>
      <li><a href="badges.html">Register</a></li>
    {%endif%}
    </ul>
  </div>
</nav>
</div>
