<nav>
  <div class="nav-wrapper teal lighten-2">
  <div class="container">
    <a href="/" class="brand-logo">BCFM</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
    {%if user.is_authenticated%}
      <li><a href="{% url 'reserve:browse' %}">Browse Daily Spaces</a></li>
      <li><a href="{% url 'reserve:my_account' request.user.id %}">My Account</a></li>
      <li><a href="{% url 'reserve:reservation' request.user.id %}">My Reservations</a></li>
      <li><a href="{% url 'reserve:logout' %}">Logout</a></li>
    {%else%}
      <li><a href="{% url 'reserve:login'  %}">Login</a></li>
      <li><a href="{% url 'reserve:register' %}">Register</a></li>
      <li><a href="{% url 'reserve:browse' %}">Browse</a></li>
    {%endif%}
    </ul>
  </div>
    <ul class="side-nav" id="mobile-demo">
    {%if user.is_authenticated%}
      <li><a href="mobile.html">Browse</a></li>
      <li><a href="collapsible.html">My Account</a></li>
      <li><a href="mobile.html">My Reservations</a></li>
      <li><a href="sass.html">Logout</a></li>
    {%else%}
      <li><a href="sass.html">Login</a></li>
      <li><a href="badges.html">Register</a></li>
    {%endif%}
    </ul>
  </div>
</nav>

