{%extends 'base.html'%}

{%block content%}

<div class="card-panel teal lighten-5">
	<h1 class="center-align">My Reservations</h1>
	<i>
		<p class="center-align red-text text-darken-2">
			We will only hold reservaions until 9AM the date of your reservation.
		</p>
	</i>
</div>
<div class="row">
	<div class="col s6 card-panel teal lighten-3">
		<p class="flow-text center-align">All Reservations</p>
			<ul class="collection">
				{%for reservation in reservations%}				
				<div id="reservationModal{{reservation.id}}" class="modal modal-fixed-footer">
				    <div class="modal-content">
				      <h3 class="modal-header">Cancel Reservation {{reservaion.space.title}}</h3>
				      <div class="row">
						<div class="input-field col s12">
							<p class="flow-text">Are you sure you would like to cancel your reservation for {{reservation.space.title}} on {{reservation.date}}?</p>
						</div>
				      </div>	
				    </div>
					<div class="modal-footer">
						<a href="{% url 'reserve:delete_reservation' reservation.id reservation.date %}" class="btn red darken-2 modal-action modal-close waves-effect waves-light">Cancel Reservation</a>
					</div>
				  </div>


		        	<li class="collection-item"><a href="
		        	{% url 'reserve:space' reservation.space.id reservation.date %}
		        	">{{reservation.reservation_type}} {{reservation.space}} on {{reservation.date}}</a>
		        	<a href="#reservationModal{{reservation.id}}" class="secondary-content modal-trigger waves-effect waves-light"><i class="material-icons red-text text-darken-2">delete</i></a>
		        	</li>
		        {%endfor%}
	      	</ul>
	</div>
	<div class="col s6 card-panel blue-grey lighten-4" style="display:flex;flex-direction:column;align-items:center;padding-bottom:2em;">
		<p class="flow-text">Full Map</p>
		<img class="materialboxed" width="200px" src="/images/flea-map.png">
	</div>
</div>
{%endblock%}