{%extends 'base.html'%}

{%block content%}

<div class="row card-panel">
<h1 class="center-align">Bell Co. Flea Market Inc.</h1>

	<div class="col s6">
		<p class="flow-text">How to Reserve a Booth</p>
		<hr>
		<p>
		Reservations for open spaces may be made with our online reservation tool, by calling 254-939-6411, or at the office Saturday and Sundays. Reservations will be held until 9:00 a.m. of the day.
		<br>
		<br>
		Reserved without payment. Reservations can only be made one week in advance.
		</p>
		<p class="flow-text">Gate Passes</p>
		<hr>
		<p>
		Passes are to be shown to gate guard and kept visible on the dashboard of your vehicle at all times.
		<br>
		Flea market passes are issued for the purpose of admitting vendors only onto the grounds.
		<br>
		<br>
 		Upon request, vendors selling large or heavy merchandise will receive a merchandise pick-up gate pass. Vendors may lend the pass to a customer for the sole purpose of driving in to pick up merchandise. Vendors are responsible for getting these passes back when merchandise is picked up.
		</p>
	</div>
	<div class="col s6">
		<p class="flow-text">How to Pay for a Booth</p>
		<hr>
		<p>
		Monthly rent is due the first day of the first weekend of the month. A 10% late fee will be added after that. All monthly booths must pay a clean up deposit  which will be refunded when discontinue renting booth, if a weeks notice of leaving  and booth left clean without damage.  All Booths are rented as is. Rent on all booths must be paid before entering the flea market.
		<br>
		<br> 
 		Checks need to be made payable to Bell County Flea market Inc. Payment may be mailed to 1930 G. Wilson Rd. Belton, Tx., 76513, or paid at office.
 		<br> 
		The office will not cash checks, or accept two-party checks. There is a $35.00 charge on all return checks.
		<br>
 		<strong>There will be no payment refunds.</strong>
 		<br>
 		<br>
		All vendors must enter the flea market at the east gate.
		<br>
 		Prepaid vendors may line up on the left lane of the entrance and show passes to gate guard to enter.
 		<br>
 		Unpaid vendors must line up on the right lane of the entrance and walk to office to pay for booth. Upon payment a pass will be given.
		</p>
	</div>
</div>
<div class="card-panel teal lighten-5">
	<div class="row">
		<div class="col s12">
			<h4>Procedures And Policies</h4>
			<p>
				<strong>The following applies to each vendor.</strong>
				<br> 
				Each vendor shall also be responsible for the compliance with such policies and procedures by the agents, employees and invites of vendor.
				Failure to comply with any policy or procedure at the Bell County Flea Markets Inc.'s option may result in removal/eviction of the violator and/or violator's employer, or inviter from the premises and/or loss of or eviction from booths.
				<br>
				<br>
				<i>
				Bell County Flea market Inc. reserves the right to refuse admission to any vendor or refuse to rent/renew rental of any booth at its sole discretion.
				Bell Flea market Inc. reserves the right to amend or change the policies and procedures without prior notice.
				</i>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col s8">
			<p class="flow-text">Merchandise, Sales, and Solicitations</p>
			<hr>
			<p>
			Monthly vendors are required to have a sales tax permit from the state of Texas. For info. From state call 1-800 252-5555. www.window.state.tx.us/taxpermit/
			<br>
			<br>
			The vendor is solely responsible for his/her merchandise, property or business transactions. Merchandise left unattended is done so entirely at the owner's risk.
			</p>
			<ul class="collection">
				<li class="collection-item">No food or drinks or gum, are to be sold with the exception of produce. Concessions reserve this right solely.</li>
				<li class="collection-item">Tobacco products cannot be sold without a license.</li>
				<li class="collection-item">No animals are to be sold or exhibited in the flea market except at designated areas. And they must have proper immunizations and certifications. Vendor is responsible to show proof before entering flea market.</li>
				<li class="collection-item">Weapons are not to be sold to minors. Guns must be cleared with safety officer and strapped.</li>
				<li class="collection-item">No one shall bring upon or distribute on the grounds handbills, political, religious, or soliciting without prior consent of management.</li>
				<li class="collection-item">Electric outlets are for the use to show items work that are for sale, no high voltage use items such as microwaves, acís, crock pots, coffee pots, fridges, or any other items indicated as so by management are to be plugged in at anytime. All closed in booth must have power strip with breaker at each plug. They must be unplugged before they leave building.</li>
				<li class="collection-item">Dogs are not to be sold with out the permission of the office.</li>
				<li class="collection-item">Shot records and health certificates are need on all animals sold at the flea market. They must be on file at the office.</li>
				<li class="collection-item">Chickens are not to be sold with out typhoid testing permit and it must be on file at office. Also, a license is needed.</li>
				<li class="collection-item">Plants are not to be sold without a plant license.</li>
			</ul>
		</div>
		<div class="col s4">
			<p class="flow-text">Food Concessions</p>
			<hr>
			<p>
			The sale of any food item requires management consent.
			<br>
			<br> 
			Food items must be sold from a concession stand that meets State of Texas Health Department standards.
			<br>
			<br> 
	 		A food service permit must be obtained from Bell County Health Department and will be inspected periodically by county inspectors and flea market management.
	 		<br>
			<br> 
			<i>Food concessions are limited.</i>
			</p>
		</div>
	</div>
</div>
<div class="row card-panel">
	<div class="col s12">
		<h4>Set up</h4>
		<p>
			<strong>The following applies to each vendor.</strong>
			<br>
			<br> 
			It is the responsibility of vendors to keep the walkways around their area clear of items that may block direct access to the next booth or be a hazard to people  walking.  Any item in walkways will be hauled off and owners will be charged accordingly. No items are to be in walkway, personal, or merchandise. Rent will increase in $20.00 increments if this rule is violated.
			There is to be no merchandise between buildings. And, at least 10 foot between you and your neighbors merchandise.
			No rugs or carpet is to be put outside your booth without manager consent and  a $50 clean-up fee per carpet.
			Also, booths are rented as is. Renters are responsible for any damages while renting a booth. 
			Anything attached to the booths must be done so with screws, and under management's permission.
			All fixtures rented with the booth belong to Bell County Flea Market Inc. and shall not be removed without permission.
			Vendors are prohibited from disturbing or changing any natural or management made waterways. The results could be water running in your booth.
			No items may lean against building or fence. All merchandise must be 5 foot from fence.
			No merchandise  may be left outside  when closed. A $50.00 fine will apply, second offence eviction of booth.
			All merchandise and trash must be taken home, period, unless put inside your booth.
		</p>
		<p class="flow-text right-align">Traffic and Parking</p>
		<hr>
		<p>
			Gate passes are required in every vehicle in the flea market.
			There is a 5mph speed limit throughout the flea market.
			Traffic should be kept to a minimum for safety reasons.
			No ATVs, motorcycles, bicycles, roller blades, skates, or skateboards.
			Vendors may park in the back of their booth or in public parking areas only.
			Handicapped parking is at designated areas. 
			Subleasing Or Transfers
			The sublease or transfer of a booth or barn is prohibited without the prior consent of Bell County Flea Market Inc.
			Identification and receipts will be checked periodically.
		</p>
	</div>
</div>
<div class="row card-panel red lighten-5">
	<div class="col s12">
		<h4>Restrictions</h4>
		<p>
			All restrictive signs posted by the flea market will become as part of vendors contract, and be followed.
			No drugs, alcohol, loud music, amplifiers or vulgar language are allowed on the premises.
			<br>
			<br>
			All pets must be on a lease and attended at all times.
			Bell County Flea market Inc. is not responsible for the actions of animals brought to the flea market.
			Electric heaters or air conditioners are prohibited.
			The dumpsters and trash cans are for customerís trash. Anyone leaving items will be charged $10.00 and banned from flea market. The same charges apply to anyone leaving discarded items anywhere on the premises.
			There is to be no flammable chemicals left in or outside the booths when closed, such as gasoline, propane, kerosene.
			<br>
			<br> 
			Anyone selling on the premises is subject to a $12.00 charge. Please report any unauthorized selling. They could be taking your sales.
			Safety officers will be doing  daily safety  inspections for compliance of all rules.
		</p>
		<blockquote>
		Thank you for your business, Vickie Roberts mgr.
		</blockquote>
	</div>
</div>


{%endblock%}