{%extends 'base.html'%}

{%block content%}
 <div id="reservationModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h3 class="modal-header">Reserve {{space.title}}</h3>
      <div class="row">
		<div class="input-field col s12">
			<p class="flow-text">Are you sure you would like to reserve {{space.title}} on {{date}}?  (You reservation will be held untill 9am on the date of your reservation)</p>
		</div>
      </div>	
    </div>
	<div class="modal-footer">
		<form method="POST" action= "">
		  {% csrf_token %}
		  <div class="center-align">
		  <input class="btn btn-flat modal-action modal-close" type="submit" value="Confirm Reservation"/>
		  </div>
		</form>
	</div>
  </div>

<h1 class="center-align">Space {{space.title}} in {{space.space_type}}</h1>
<p class="flow-text center-align">on {{date}}</p>
<div class="row">
	<div class="card-panel teal lighten-4 col s6 offset-s3">
		<p class="center-align flow-text">{{space.status}}</p>
		<p>Tables:  {{space.tables}}</p>
		<p>Space:  {{space.space}}</p>
		<p>Price:  {{space.price}}</p>
		<p>Parking:  {{space.parking}}</p>
	{%if space.status == "Open"%}
		  <div class="right-align">
		  <a style="margin:1rem;" class="modal-trigger waves-effect waves-light btn btn-flat" href="#reservationModal">Reserve</a>
		  </div>
	{%endif%}
	</div>
</div>
{%endblock%}