{%extends 'base.html'%}

{%block content%}
 <div id="reservationModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h3 class="modal-header">Reserve {{space.title}}</h3>
      <div class="row">
		<div class="input-field col s12">
			{%if user.is_staff%}
			<p class="flow-text">Would you like to reserve or pay for {{space.title}} on {{date}}?</p>
		</div>
  	  </div>	
		<form method="POST" action= "">
		  {% csrf_token %}
		  {{reservation_form.as_p}}
		  <div class="center-align">
		  <input class="btn teal darken-2 modal-action modal-close" name="pay_reserve_button" type="submit" value="Pay"/>
		  <input class="btn blue darken-2 modal-action modal-close" name="pay_reserve_button" type="submit" value="Reserve">
		  </div>
		</form>
	</div>
</div>
			{%else%}
			<p class="flow-text">Are you sure you would like to reserve {{space.title}} on {{date}}?  (You reservation will be held untill 9am on the date of your reservation)</p>
		</div>
      </div>	
    </div>
	<div class="modal-footer">
		<form method="POST" action= "">
		  {% csrf_token %}
		  <div class="center-align">
		  <input class="btn btn-flat modal-action modal-close" type="submit" value="Confirm"/>
		  </div>
		</form>
	</div>
  </div>
			{%endif%}

<div class="card-panel teal darken-2">
	<h1 class="center-align white-text">Space {{space.title}} in {{space.space_type}}</h1>

	<div class="row" style="margin:0;">
		<div class="col s6">
			<p class="flow-text right-align white-text"><i>on {{date}}</i></p>
		</div>
		{%if user_liked%}
		<div class="card-panel col s2 blue darken-2" style="margin-bottom:0;">
			<p class="center-align white-text"><i class="tiny material-icons">thumb_up</i> Liked</p>	
		</div>
		{%endif%}
		{%if user_disliked%}
		<div class="card-panel col s2 red darken-2" style="margin-bottom:0;">
			<p class="center-align white-text"><i class="tiny material-icons">thumb_down</i> Disliked</p>	
		</div>
		{%endif%}
	</div>
</div>
<div class="row">
	<div class="card-panel teal lighten-4 col s8 offset-s2">
		<p class="center-align flow-text">{{space.status.reservation_type}}
		{%if space.status.reservation_type != "Open"%} 
        	{%if space.status.hold_name%}
        	-- {{space.status.hold_name}}
        	{%else%}
        	-- {{space.status.customer.first_name}} {{space.status.customer.last_name}}
        	{%endif%}
        {%endif%}
		</p>
		<hr>
		<p>Tables:  {{space.tables}}</p>
		<p>Space:  {{space.space}}</p>
		<p>Price:  ${{space.price}}.00/day</p>
		<p>Parking:  {{space.parking}}</p>
		<hr>
		  {%if user.is_authenticated%}
		  <div class="right-align" style="margin:1rem;">
			{%if space.status.reservation_type == "Open"%}
				{%if user.is_staff%}
				<a class="modal-trigger waves-effect waves-light btn teal darken-2" style="margin:1rem;" href="#reservationModal">Pay/Reserve</a>
				{%else%}
		  		<a class="modal-trigger waves-effect waves-light btn teal darken-2" style="margin:1rem;" href="#reservationModal">Reserve</a>
				{%endif%}
		  	{%endif%}
		  	<form method="POST" action= "">
                {% csrf_token %}
                {%if user.is_staff%}
                	{%if space.status.reservation_type != "Open"%}
                	<div class="left-align">
	                    <input class="btn blue darken-2" name="cancel_confirm_button" type="submit" value="Confirm" style="margin-right:5px">
	                    <input class="btn red darken-2" name="cancel_confirm_button" type="submit" value="Cancel">
	                </div>
	                {%endif%}
                {%else%}
	                <div class="left-align">
	                    <input class="btn blue darken-2" name="like_dislike_button" type="submit" value="Like" style="margin-right:5px">
	                    <input class="btn red darken-2" name="like_dislike_button" type="submit" value="Dislike">
	                </div>
	            {%endif%}
            </form>
            <div class="center-align" style="margin:1rem;">
				<a class="btn btn-flat waves-effect waves-teal" href="{% url 'reserve:browse' date %}">Back to Browse for {{date}}</a>
			</div>
		  </div>
		{%else%}
  	<div class="center-align" style="margin:1rem;">
		<a class="btn btn-flat waves-effect waves-teal" href="{% url 'reserve:browse' date %}">Back to Browse for {{date}}</a>
	</div>
  </div>
</div>
			<div class="row card-panel teal darken-2">
				<p class="flow-text center-align white-text">Login or Register Below to Start Reserving Spaces</p>
				<div class="col s6 center-align" style="padding-top:2rem; padding-bottom: 2rem;">
					<a class="btn waves-effect pulse" href="{% url 'reserve:login' %}">Login</a>
				</div>
				<div class="col s6 center-align" style="padding-top:2rem; padding-bottom: 2rem;">
					<a class="btn waves-effect blue pulse" href="{% url 'reserve:register' %}">Register</a>
				</div>
			</div>
		{%endif%}
	</div>
</div>
{%endblock%}